h1 {
	display: block;
	font-family: Helvetica, sans-serif;
    font-size: 1.875em;      /* 30px/16px = 1.875em */
}

ul {
	list-style-type: none;
	text-align: left;
}

li {
	display: block;
	float: left;
}

body {
	background: #d3e5e3;
}

@media screen and (max-width: 960px) {

#container {
    margin: 0 auto;
    padding: 0 0 1em 0;
    max-width: 60em;      /* 960px/16px = 60em */
    background: #fff;
}

header {      /* in masthead and sections */
	display: block;
	text-align: left;
}
header:before, header:after {content: ""; display: table;}
header:after {clear: both;}

#masthead {
	display: block;
	margin-bottom: 20px;
	*zoom: 1;
	background: #ed96e8;
}
#masthead:before, #masthead:after {content: ""; display: table;}
#masthead:after {clear: both;}

#masthead header {
	float: right;
	width: 72.916667%;      /* 700px/960px = .72916667 */
	margin: auto 01.0416667%;      /* 10px/960px = .010416667 */
}

.logo {
	display: block;
	float: left;
	width: 22.916667%;      /* 220px/960px = .22916667 */
	margin: 0 01.0416667%;      /* 10px/960px = .010416667 */
}
.logo a {
	display: block;
	width: 160px;
	height: 76px;
	background: url(../img/winged-xv.png) no-repeat top left;
	}
.logo img {
	display: block;
	height: 0;
	}
.logo a:hover {
	background-position: 0 -76px;
	}

nav {
	display: block;
	float: right;
	width: 72.916667%;      /* 700px/960px = .72916667 */
	margin: auto 01.0416667%;      /* 10px/960px = .010416667 */
	}
nav ul {
	padding: 0;
}

section {
	display: block;
	width: 100%;
	background: #acacac;
	*zoom: 1;
	}
section:before, section:after {content: ""; display: table;}
section:after {clear: both;}

section header {
	float: none;
	width: 100%;
	margin: auto 0;
	background: #f01b1b;
}

section h2 {
	display: block;
	float: right;
	width: 72.916667%;      /* 700px/960px = .72916667 */
	margin: auto 01.0416667%;      /* 10px/960px = .010416667 */
	letter-spacing: 10px; 
}

.winged-up {
	display: block;
	float: left;
	width: 22.916667%;      /* 220px/960px = .22916667 */
	margin: 0 01.0416667%;      /* 10px/960px = .010416667 */
}

.winged-up img {
	width: auto;
	height: auto;
}

section ul {
	width: 100%;
	padding-left: 0;
}

section li {
	display: block;
	float: left;
	width: 31.25%;      /* 300px/960px = .3125 */
	margin: 0 01.0416667% 20px;      /* 10px/960px = .010416667 */
}

section img {
	width: 100%;    
	height: 100%;
}
}

@media screen and (max-width: 720px) {

    #masthead header {
		float: right;
		width: 63.888889%;      /* 460px/720px = .63888889 */
		margin: auto 01.0416667%;      /* 10px/960px = .010416667 */
	}

	.logo {
		display: block;
		float: left;
		width: 22.916667%;      /* 220px/960px = .22916667 */
		margin: 0 01.0416667%;      /* 10px/960px = .010416667 */
	}
}

/* 
    font-family: Helvetica, sans-serif;
    font-size: 0.875em;      14px / 16px = 0.875em

.container-1 {
	float: left;
	width: 22.916667%;      220px / 960px = .22916667
	margin: auto 01.0416667%;      10px / 960px = .010416667
	background: #acacac;
	height: 300px;
	}

.container-2 {
	float: right;
	width: 72.916667%;      700px / 960px = .72916667
	margin: auto 01.0416667%;      10px / 960px = .010416667
	background: aqua;
	height: 300px;

flexible grids
flexible images and media 
css media queries

::-moz-selection,
::selection {
  background: #dfa054;

.alpha:first-letter,
.bravo:first-line {
  color: #dfa054;
  font-size: 18px;
}
*/