body {
	background: #FFF;
}

h1 {
	display: block;
	font-family: 'Antic Slab', sans-serif;
    font-size: 2.5em;      /* 40px/16px = 2.5em */
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
	font-family: 'Antic Slab', sans-serif;
    font-weight: 400;    
    font-size: 3em;      /* 40px/16px = 2.5em */
    text-align: center;
}


ul {
	display: block;
	list-style-type: none;
	text-align: left;
}

li {
	display: block;
	float: left;
}

::selection, ::-moz-selection {
background-color: #00aeef;
}

/* CLEAR FIX */

nav, header, .folio, .about {*zoom: 1;}
nav:before, nav:after, header:before, header:after,  folio:before, .folio:after, .about:before, .about:after {content: ""; display: table;}
nav:after, header:after, .folio:after, .about:after {clear: both;}

/* MARGINS FOR MAIN SECTIONS */

.portfolio, .about, header[role="banner"] {
	margin: 0 auto;
    padding: 0 0 1em 0;
    max-width: 60em;      /* 960px/16px = 60em */
}

/* MARGIN-LESS MAIN SECTIONS (HEADER, ABOUT) */

.head-container {
	margin-bottom: 20px;
	height: 300px;
	background: url(../img/circles.jpg) no-repeat;
	background-size: 100%;
	overflow: hidden;
}

.about-container {
	background: #ff1100;
	}


header[role="banner"] h1 {
	float: right;
	width: 72.916667%;      /* 700px/960px = .72916667 */
	margin: 60px 01.0416667% 0;      /* 10px/960px = .010416667 */
}

header[role="banner"] p {
	float: right;
	width: 72.916667%;      /* 700px/960px = .72916667 */
	margin: auto 01.0416667%;      /* 10px/960px = .010416667 */
}

.logo {
	position: relative;
	z-index: 40;
	display: block;
	float: left;
	width: 161px;
	padding: 6px 0;
}
.logo a {
	display: block;
	width: 161px;
	height: 70px;
	background: url(../img/winged-xv.png) no-repeat top left;
	}
.logo img {
	display: block;
	height: 0;
	}
.logo a:hover {
	background-position: 0 -70px;
	}

/* MAIN NAV */
	
nav {
	position: fixed;
    width: 90%;
    height: 40px;
	background-color: #fff200;
	margin: 15px 5% 0 5%;
	}

nav::before {
left: -31px;
border: 20px solid #fff200;
border-left-color: transparent;
}

nav::before, nav::after {
content: "";
position: absolute;
display: block;
bottom: 0;
z-index: -1;
}

nav::after {
right: -31px;
border: 20px solid #fff200;
border-right-color: transparent;
}

nav ul {
    max-width: 60em;      /* 960px/16px = 60em */
	margin: auto;
}

nav li {
	float: left;
	padding: 5px 0;
	width: 22%;
	color: #fff;
	font-family: 'Antic Slab', sans-serif;
    font-size: 1.5em;      /* 40px/16px = 2.5em */
    font-weight: 400;
    text-transform: uppercase;
}

.winged-up {
	display: block;
	float: left;
	width: 14%;
	height: 40px;
	margin-right: 20%;
	padding: 0;
}

.winged-up img {
	width: auto;
	height: auto;
}

.portfolio h2 {
	color: #ff1100;
}

.folio {
	padding: 0;
}

.folio li {
	float: left;
	width: 31.25%;      /* 300px/960px = .3125 */
	margin: 0 01.0416667% 20px;      /* 10px/960px = .010416667 */
}

.folio img {
	width: 100%;    
	height: 100%;
}

.about h2 {
    color: #eee;
}

.about p {
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: 1em;  
	line-height: 1.5em;
	color: #eee;
	}

.about-sect {
	float: left;
	width: 31.25%;      /* 300px/960px = .3125 */
	margin: 0 01.0416667% 20px;      /* 10px/960px = .010416667 */
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 800px) {
	.logo {
		float: none;
		margin: 0 auto;
	}
	
	header[role="banner"] h1, header[role="banner"] p, nav {
		float: none;
		margin: 0 auto;
	}
		
	.folio li {
		float: left;
		width: 44%;
		margin: 0 3% 20px;  
	}
}

@media screen and (max-width: 500px) {
	.folio li {
		float: none;
		width: 80%;
		margin: 0 10% 20px;  
	}
}

/* 
    font-family: Helvetica, sans-serif;
    font-size: 0.875em;      14px / 16px = 0.875em

.container-1 {
	float: left;
	width: 22.916667%;      220px / 960px = .22916667
	margin: auto 01.0416667%;      10px / 960px = .010416667
	background: #acacac;
	height: 300px;
	}

.container-2 {
	float: right;
	width: 72.916667%;      700px / 960px = .72916667
	margin: auto 01.0416667%;      10px / 960px = .010416667
	background: aqua;
	height: 300px;

flexible grids
flexible images and media 
css media queries

::-moz-selection,
::selection {
  background: #dfa054;

.alpha:first-letter,
.bravo:first-line {
  color: #dfa054;
  font-size: 18px;
}
*/