---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Fundraising Cards</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<header class="project-head">
	<div class="logo"><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/winged-xv.png" alt="winged" /></a></div>
	<h1>Winged and Dangerous<br />is Elisabeth Nicula Design.</h1>
</header>
<div class="portfolio">
	<header>
		<h2>160 Mass Ave.</h2>
	</header>
	<div class="sidebar-about">
		<h3>About 160 Mass Ave.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing. Mauris gravida tellus et purus eleifend euismod. Nam fringilla dolor sed nisi consectetur ac pharetra neque condimentum. <a href=""></a></p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-160.jpg" alt="160 building card" width="540" height="399" />
		<p>Other projects include yadda.</p>	
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		<h3>Other Illustration Projects</h3>
		<ul>
			<li><a href="">Project 1</a></li>
			<li><a href="">Project 2</a></li>
			<li><a href="">Project 3</a></li>
		</ul>
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>