---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : 160 Mass. Ave.</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<header class="project-head">
	<div class="logo"><a id="top" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/winged-xv.png" alt="winged" /></a></div>
	<h1>Winged and Dangerous<br />is Elisabeth Nicula Design.</h1>
</header>
<div class="portfolio">
	<header>
		<h2>160 Mass. Ave.</h2>
	</header>
	<div class="sidebar-about">
		<h3>About 160 Mass. Ave.</h3>
		<p class="small-em">Client: Institutional Affairs Office, Berklee College of Music</p><p>Berklee’s new Back Bay tower is expected to change the campus experience, with recording and performance spaces, dorms, and classrooms. It is the result of the college’s first capital campaign, and the illustration for this holiday card is based on the architectural plans.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-160.jpg" alt="160 building card" width="540" height="399" />
		<p>I've made musical snowflakes in at least one new way every year.</p>	
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		<h3>Other Illustration Projects</h3>
		{% include nav-illustration.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>