---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Berklee.edu</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Berklee.edu Redesign</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Berklee.edu Redesign</h3>
		<p class="small-em">Client: Berklee College of Music<br>Role: concept, design, information design</p>
		<p>My interim redesign of the <a href="http://www.berklee.edu/" target="_blank">berklee.edu</a> home page, launched in October 2011 and replaced by a full migration to Drupal in August 2012, garnered increased traffic to key action-oriented pages&mdash;an 81 percent increase to the Admissions home page, 44 percent increase to the Admissions audition and interview page, and a 14 percent increase to the Summer Programs home page&mdash;and decreased the bounce rate by 12 percent.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-bedu.png" alt="Berklee.edu" width="540" height="510" />
		<p>After.</p>
		<img src="{{ site.baseurl }}/img/sl-bedu_old.png" alt="Berklee.edu" width="540" height="725" />
		<p>Before.</p>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-web.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>