---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Berklee Mobile</title>
{% include meta-link.html %}
</head>

<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>BerkleeMobile</h2>
	</header>
	<div class="sidebar-about">
		<h3>About BerkleeMobile</h3>
		<p class="small-em">Client: Berklee College of Music<br>Role: Concept, design, and illustration</p>
		<p><a href="http://www.berklee.edu/berkleemobile" target="_blank">BerkleeMobile</a> for <a href="https://itunes.apple.com/us/app/berkleemobile/id375329104?mt=8" target="_blank">iOS</a> and Android keeps users informed about campus news and events, and connects them with video and podcast content. The headphone illustration scales well from icon to marketing graphic to loading screen.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-berkapp.png" alt="berklee mobile icons" width="540" height="500" />
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-identity.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>