---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Berklee Iconography</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<header class="project-head">
	<div class="logo"><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/winged-xv.png" alt="winged" /></a></div>
	<h1>Winged and Dangerous<br />is Elisabeth Nicula Design.</h1>
</header>
<div class="portfolio">
	<header>
		<h2>Berklee Iconography</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Icons and Logos</h3>
		<p class="small-em">Clients: Marketing, Academic Affairs, and Information Technology Offices, Berklee College of Music</p><p>Since introducing illustration to Berklee’s photography-heavy visual brand, I have designed and drawn many icons and logos&mdash;for website navigation, social media accounts, and academic institutes.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-social.png" alt="social media icons" width="540" height="480" />
		<p>Little speech bubble icons direct traffic to Berklee's <a href="http://twitter.com/BerkleeCollege" target="_blank">various</a> <a href="http://facebook.com/BerkleeCollege" target="_blank">official</a> social media <a href="http://berklee.edu/social-media">entities</a>.</p>	
		<img src="{{ site.baseurl }}/img/sl-berkicons.png" alt="academic institute icons" width="540" height="365" />
		<p>Logos for the <a href="http://berklee.edu/focused/">academic institutes</a> lock up with the primary red block logo.</p>
		<img src="{{ site.baseurl }}/img/sl-gmail.png" alt="gmail icons" width="317" height="169" />
		<p>Berklee Gmail icon for student, staff, and faculty email, and rollout graphic.</p>
		<img src="{{ site.baseurl }}/img/sl-gmail2.png" alt="gmail page" width="540" height="909" />
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		<h3>Other Illustration Projects</h3>
		{% include nav-illustration.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>
