---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Sole Inhabitant</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Sole Inhabitant</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Sole Inhabitant Poster</h3>
		<p class="small-em">Client: Thomas Dolby<br>Role: concept, design, and illustration</p><p>For this gig poster promoting a stop on Thomas Dolby's Soul Inhabitant Tour, I drew inspiration from the “She Blinded Me with Science" singer's distinctive stagewear.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-dolby.png" alt="project notes blog" width="540" height="799" />
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-illustration.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>