---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Electric Industry Structure</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Electric Industry Infographic</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Electric Industry Infographic</h3>
		<p class="small-em">Client: Tufts University Graduate Student Team<br>Role: information design and illustration</p><p>Created for a Metropolitan Area Planning Council report, this graphic explains the structure of the electric industry in Massachusetts. Before the 1997 restructuring act deregulated the electricity market, investor-owned utilities were vertically integrated monopolies handling electricity supply, transmission, and distribution. The restructuring act required utilities to sell the supply side of their business and buy power from the open market.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-electric.png" alt="project notes blog" width="540" height="700" />
		<p class="small-em"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0; width: 80px; height: 15px;" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Electric Industry Structure </span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://wingedanddangerous.com" property="cc:attributionName" rel="cc:attributionURL">Elisabeth Nicula</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.</p>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-illustration.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>