---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Fundraising Cards</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Fundraising Cards</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Cards</h3>
		<p class="small-em">Client: Berklee College of Music<br>Role: concept and design</p><p>These greeting cards introduced a blocky typographic treatment to Berklee’s style.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-congrats.jpg" alt="congrats card" width="540" height="385" />
		<p>Congratulations card and envelope.</p>
		<img src="{{ site.baseurl }}/img/sl-congrats1.jpg" alt="congrats card" width="540" height="396" />
		<p>Detail.</p>
		<img src="{{ site.baseurl }}/img/sl-bday.jpg" alt="birthday card" width="540" height="467" />
		<p>Congratulations card and envelope.</p>
		<img src="{{ site.baseurl }}/img/sl-bday1.jpg" alt="birthday card" width="540" height="365" />
		<p>Detail.</p>	
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-print.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>