---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Hack Day</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<header class="project-head">
	<div class="logo"><a id="top" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/winged-xv.png" alt="winged" /></a></div>
	<h1>Winged and Dangerous<br />is Elisabeth Nicula Design.</h1>
</header>
<div class="portfolio">
	<header>
		<h2>YouTube Hack Day</h2>
	</header>
	<div class="sidebar-about">
		<h3>About YouTube Hack Day</h3>
		<p class="small-em">Client: External Affairs Office, Berklee College of Music</p><p>YouTube and Berklee cosponsored this weekend <a href="http://youtu.be/DqN0YjInV34" target="_blank">event</a> to encourage students to use their own equipment and creative chops to create videos that will get them noticed. This was a fun opportunity for me to design outside of the Berklee brand—my brief was to create a guerrilla-style campaign to match the fast-and-loose aesthetic of viral video. HTML emails, stage graphics, and assorted web collateral went along with these print pieces.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-hack.png" alt="hack day art" width="540" height="286" />
		<p>The main bit of art.</p>
		<img src="{{ site.baseurl }}/img/sl-hackcard.jpg" alt="hack day street team card" width="540" height="346" />
		<p>Street team cards drum up interest.</p>
		<img src="{{ site.baseurl }}/img/sl-hackfly.jpg" alt="hack day flyer" width="540" height="379" />
		<p>Skinny flyer in the field.</p>	
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		<h3>Other Web &amp; Print Projects</h3>
		{% include nav-web.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>