---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Map of Boston</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Map of Boston</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Map</h3>
		<p class="small-em">Client: Berklee College of Music<br>Role: design and illustration</p><p>Berklee’s Summer in the City concert series brings music to venues all over town. This map, for marketing purposes, quickly conveys the scope of entertainment options.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-map.png" alt="map illustration" width="540" height="340" />
		<p>Above: electronic; below: centerfold.</p>
		<img src="{{ site.baseurl }}/img/sl-map1.jpg" alt="booklet detail" width="540" height="360" />
		<br /><br />
		<img src="{{ site.baseurl }}/img/sl-map2.jpg" alt="booklet" width="540" height="416" />
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-illustration.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>