---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Production Projects</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<header class="project-head">
	<div class="logo"><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/winged-xv.png" alt="winged" /></a></div>
	<h1>Winged and Dangerous<br />is Elisabeth Nicula Design.</h1>
</header>
<div class="portfolio">
	<header>
		<h2>Production Projects</h2>
	</header>
	<div class="sidebar-about">
		<h3>About Production Projects</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing. Mauris gravida tellus et purus eleifend euismod. Nam fringilla dolor sed nisi consectetur ac pharetra neque condimentum. <a href=""></a></p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-epdcd.jpg" alt="EPD CD" width="540" height="458" />
		<p>Other projects include yadda.</p>
		<img src="{{ site.baseurl }}/img/sl-mpcd.jpg" alt="MPE CD" width="540" height="464" />
		<p>Other projects include yadda.</p>	
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		<h3>Other Web &amp; Print Projects</h3>
		{% include nav-web.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>