---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Production Projects</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Production Projects</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Production Projects CD Packaging</h3>
		<p class="small-em">Client: Berklee College of Music<br>Role: concept and design</p><p>Students from behind-the-scenes majors submit projects for these annual compilation albums. The complementary designs of the albums reflect the analog vs. digital production methods favored by the two groups.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-epdcd.jpg" alt="EPD CD" width="540" height="458" />
		<p><em>Electronic Production and Design Projects 2012</em></p>
		<img src="{{ site.baseurl }}/img/sl-mpcd.jpg" alt="MPE CD" width="540" height="464" />
		<p><em>Music Production and Engineering Projects 2012</em></p>	
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-print.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>