---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Project Notes</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Project Notes Blog</h2>
	</header>
	<div class="sidebar-about">
		<h3>About Project Notes</h3>
		<p class="small-em">Client: Peter Teichman<br>Role: design and CSS</p><p>For his <a href="http://teichman.org/blog/" target="_blank">project blog</a>, Peter favored a clean design that would highlight his ideas and photography, and scale well on desktops and mobile devices.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<a href="http://teichman.org/blog/"><img src="{{ site.baseurl }}/img/sl-notes.png" alt="project notes blog" width="540" height="369" /></a>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-web.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>