---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Self-Portrait with Jack, Lana, and Donald</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Self-Portrait with Jack, Lana, and Donald</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Self-Portrait</h3>
		<p class="small-em">Client: Um<br>Role: design, illustration, and motion</p>
		<p>My imaginary band.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-selfie.gif" alt="animated gif heads" width="540" height="197" />
		<p>From left: Elisabeth, Jack Black, Lana Del Rey, Donald Fagen</p>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-illustration.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>