---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Senefelder Club of the North Country</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>The Senefelder Club of the North Country</h2>
	</header>
	<div class="sidebar-about">
		<h3>About The Senefelder Club of the North Country</h3>
		<p class="small-em">Client: Roger Bailey<br>Role: design, development, and content strategy</p>
		<p><a href="http://www.senefeldernorth.com/" target="_blank">The Senefelder Club of the North Country</a> is the studio of master printmaker and teacher Roger Bailey. His working friendship with American realist painter Jack Beal and sculptor/painter Sondra Freckelton led to a body of intaglio and lithographic prints that emphasizes the collaborative relationship of artist and printer.</p>
		<p>The responsive design optimizes for mobile, tablet, and full-sized browsers to showcase the work they made together.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<a href="http://senefeldernorth.com/" target="_blank"><img src="{{ site.baseurl }}/img/sl-senefelder.png" alt="senefelder club" width="540" height="822" /></a>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-web.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>