---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Smith College Interactive Infographic</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Smith College Interactive Infographic</h2>
	</header>
	<div class="sidebar-about">
		<h3>About the Smith College Interactive Infographic</h3>
		<p class="small-em">Client: Smith College<br>Role: Design and development</p>
		<p>Traffic to this <a href="http://www.smith.edu/news/senig/" target="_blank">interactive infographic</a>&mdash;driven in part by accompanying imagery for a social media campaign&mdash;was the 6th highest on Smith's news site for the year to date and expected to rise.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<a href="http://www.smith.edu/news/senig/" target="_blank"><img src="{{ site.baseurl }}/img/sl-smith1.png" alt="Smith Infographic" width="540" height="542" /></a>
		<a href="http://www.smith.edu/news/senig/" target="_blank"><img src="{{ site.baseurl }}/img/sl-smith2.png" alt="Smith Infographic" width="540" height="542" /></a>
		<a href="http://www.smith.edu/news/senig/" target="_blank"><img src="{{ site.baseurl }}/img/sl-smith3.png" alt="Smith Infographic" width="540" height="542" /></a>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-web.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>