---
---
 <!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous : Christmas in Space</title>
{% include meta-link.html %}
</head>
<body>
{% include nav.html %}
<div class="portfolio">
	<header>
		<h2>Christmas <em>in Space</em></h2>
	</header>
	<div class="sidebar-about">
		<h3>About Christmas <em>in Space</em></h3>
		<p class="small-em">Client: My Christmas List<br>Role: Supreme Commander</p><p>The universe provides a relatively untapped wealth of Christmas imagery. My annual holiday card takes advantage.</p>
	</div><!-- end .sidebar-about -->		
	<div class="project-content">
		<img src="{{ site.baseurl }}/img/sl-xmas2013.png" alt="card" width="540" height="724" />
		<p>2012</p>
		<img src="{{ site.baseurl }}/img/sl-xmas2012.jpg" alt="card" width="540" height="550" />
		<p>2012</p>	
		<img src="{{ site.baseurl }}/img/sl-xmas2011.jpg" alt="card" width="540" height="723" />
		<p>2011</p>
	</div><!-- end .project-content -->
	<div class="sidebar-nav">
		{% include nav-print.html %}
	</div><!-- end .sidebar-nav -->
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>