---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Winged and Dangerous is Elisabeth Nicula Design</title>
{% include meta-link.html %}
</head>
<body>
<nav>
	<ul>
		<li class="nav-left"><a href="#illustration">Illustration</a></li>
		<li class="nav-left"><a href="#web">Web &amp; Print</a></li>
		<li class="nav-logo"><a id="nav-logo" href="#top"><img src="{{ site.baseurl }}/img/winged-A.png" alt="winged icon" width="90" height="38" /></a></li>
		<li class="nav-right"><a href="#contact">Contact</a></li>
		<li class="nav-right"><a href="#about">About</a></li>
	</ul>
</nav>
<div class="masthead-container">
	<header class="masthead">
		<div class="logo"><a id="top"><img src="{{ site.baseurl }}/img/winged-xv.png" alt="winged" /></a></div>
		<h1>Winged and Dangerous<br />is Elisabeth Nicula design.</h1>
	</header>
</div><!-- end .masthead-container -->
<div class="portfolio">
	<header>
		<h2><a id="illustration">Illustration</a></h2>
	</header>
	<ul class="folio">
		<li><a href="{{ site.baseurl }}/projects/berklee-apps.html"><h3>BerkleeMobile</h3></a><a href="{{ site.baseurl }}/projects/berklee-apps.html"><img src="{{ site.baseurl }}/img/th-berkapp.png" alt="berklee app" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/dolby.html"><h3>Sole Inhabitant</h3></a><a href="{{ site.baseurl }}/projects/dolby.html"><img src="{{ site.baseurl }}/img/th-dolby.png" alt="thomas dolby poster" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/160-mass.html"><h3>160 Mass Ave.</h3></a><a href="{{ site.baseurl }}/projects/160-mass.html"><img src="{{ site.baseurl }}/img/th-160.jpg" alt="160 mass ave" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/berklee-icons.html"><h3>Berklee Iconography</h3></a><a href="{{ site.baseurl }}/projects/berklee-icons.html"><img src="{{ site.baseurl }}/img/th-berkicons.png" alt="berklee social icons" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/map.html"><h3>Map of Boston</h3></a><a href="{{ site.baseurl }}/projects/map.html"><img src="{{ site.baseurl }}/img/th-map.png" alt="berklee map" width="300" height="200" /></a></li>
		<li class="callout"><p>I love to draw things.<br />You tell me what. Other projects include <a href="">yadda</a>.</p></li>

	</ul>
</div><!-- end .portfolio -->
<div class="portfolio">
	<header>
		<h2><a id="web">Web &amp; Print</a></h2>
	</header>
	<ul class="folio">
		<li><a href="{{ site.baseurl }}/projects/fundraising-cards.html"><h3>Fundraising Cards</h3></a><a href="{{ site.baseurl }}/projects/fundraising-cards.html"><img src="{{ site.baseurl }}/img/th-cards.jpg" alt="cards" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/project-notes.html"><h3>Project Notes Blog</h3></a><a href="{{ site.baseurl }}/projects/project-notes.html"><img src="{{ site.baseurl }}/img/th-notes.png" alt="project notes" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/xmas.html"><h3>Christmas <em>in Space</em></h3></a><a href="{{ site.baseurl }}/projects/xmas.html"><img src="{{ site.baseurl }}/img/th-xmas2012.jpg" alt="jupiter christmas card" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/production-projects.html"><h3>Production Projects</h3></a><a href="{{ site.baseurl }}/projects/production-projects.html"><img src="{{ site.baseurl }}/img/th-berkcds.jpg" alt="cd packaging" width="300" height="200" /></a></li>
		<li><a href="{{ site.baseurl }}/projects/hack-day.html"><h3>Hack Day</em></h3></a><a href="{{ site.baseurl }}/projects/hack-day.html"><img src="{{ site.baseurl }}/img/th-hack.png" alt="hack day" width="300" height="200" /></a></li>
		<li class="callout"><p>Other clients &amp; projects:<br /> <a href="http://www.thebeaconpsychotherapy.com/" target="_blank">The Beacon Psychotherapy</a><br /><a href="http://www.youtube.com/BerkleeCollege" target="_blank">Berklee on YouTube</a></p></li>
	</ul>
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>