---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Winged and Dangerous is Elisabeth Nicula Design</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/winged.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Antic Slab|Vollkorn:400">
</head>
<body>
{% include nav.html %}
<div class="masthead-container">
	<header class="masthead">
		<div class="logo"><a id="top"><img src="img/winged-xv.png" alt="winged" /></a></div>
		<h1>Winged and Dangerous<br />is Elisabeth Nicula design.</h1>
	</header>
</div><!-- end .masthead-container -->
<div class="portfolio">
	<header>
		<h2><a id="illustration">Illustration</a></h2>
	</header>
	<ul class="folio">
		<li><h3>Berklee Iconography</h3><a href="{{ baseurl }}/projects/berklee-icons.html"><img src="{{ baseurl }}/img/th-berkicons.png" alt="berklee social icons" width="300" height="200" /></a></li>
		<li><h3>Berklee Mobile</h3><a href="{{ baseurl }}/projects/berklee-apps.html"><img src="{{ baseurl }}/img/th-berkapp.png" alt="berklee app" width="300" height="200" /></a></li>
		<li><h3>Project Title</h3><a href=""><img src="http://placehold.it/300x200" alt="" width="300" height="200" /></a></li>
	</ul>
	<p>Other projects include <a href="">yadda</a>.</p>
</div><!-- end .portfolio -->
<div class="portfolio">
	<header>
		<h2><a id="web">Web &amp; Print</a></h2>
	</header>
	<ul class="folio">
		<li><h3>Project Title</h3><a href=""><img src="http://placehold.it/300x200" alt="" width="300" height="200" /></a></li>
		<li><h3>Project Title</h3><a href=""><img src="http://placehold.it/300x200" alt="" width="300" height="200" /></a></li>
		<li><h3>Christmas <em>in Space</em></h3><a href="{{ baseurl }}/projects/xmas.html"><img src="{{ baseurl }}/img/th-xmas2012.jpg" alt="jupiter christmas card" width="300" height="200" /></a></li>
	</ul>
	<p>Other projects include yadda.</p>
</div><!-- end .portfolio -->
{% include about.html %}
{% include js.html %}
</body>
</html>