<div class="about-container">
	<div class="about">
		<header>
			<h2><a id="about">About</a></h2>
		</header>
		<div class="about-sect">
			<h3>Elisabeth Nicula</h3>
			<p><img src="{{ site.baseurl }}/img/elisabeth.png" alt="elisabeth's brick wall band photo" width="300" height="200" /><br>I'm a San Francisco&ndash;based graphic designer specializing in illustration and brand management across web and print media. I work with clients big and small, near and far.</p>
			<p>I like breakfast, solving design puzzles, and looking at things through binoculars.</p>
		</div><!-- end .about-sect -->
		<div class="about-sect">
			<h3>Art</h3>
			<p><a href="http://elisabethnicula.com"><img src="{{ site.baseurl }}/img/th-from_above.png" alt="" width="300" height="200" /></a><br>Take a look at my fine art at <a href="http://elisabethnicula.com" target="_blank">elisabethnicula.com</a> or on <a href="http://elisabethnicula.tumblr.com" target="_blank">Tumblr</a>. I am a member of the printmaking cooperative <a href="http://www.graphicartsworkshop.org/" target="_blank">Graphic Arts Workshop</a> here in San Francisco, and make etchings, woodcuts, and paintings that reside in public and private collections.</p>
		</div><!-- end .about-sect -->
		<div class="about-sect full-contact">
			<h3><a id="contact">Contact</a></h3>
			<p>Wand to work with me on your website, brand, logo, illustration, or printed piece? Drop me a line at elisabeth@wingedanddangerous.com.</p>
			<p><a href="https://twitter.com/wingeddangerous" target="_blank">Twitter</a><br>
			<a href="http://elisabethnicula.tumblr.com" target="_blank">Tumblr</a></p>
		</div><!-- end .about-sect full-contact -->
	</div><!-- end .about -->
	<div class="nav-logo"><a id="nav-logo" href="#top"><img src="{{ site.baseurl }}/img/winged-A.png" alt="winged icon" width="90" height="38" /></a></div>
	<footer><p>Copyright &copy; 2014 Elisabeth Nicula. Designed and built by me.</p></footer>
</div><!-- end .about-container -->