<div class="about-container">
	<div class="about">
		<header>
			<h2><a id="about">About</a></h2>
		</header>
		<div class="about-sect">
			<h3>Elisabeth Nicula</h3>
			<p><img class="set" src="{{ baseurl }}/img/elisabeth.jpg" alt="elisabeth with robot head" width="125" height="125" />I'm a graphic designer specializing in illustration and brand management across web and print media. My current gig is at Berklee College of Music. I like clean, confident design, breakfast, and looking at things through binoculars.</p>
		</div><!-- end .about-sect -->
		<div class="about-sect">
			<h3>Art</h3>
			<p><a href="http://elisabethnicula.com"><img src="{{ baseurl }}/img/th-corona.jpg" alt="" width="300" height="200" /></a><br />Take a look at my fine art over at <a href="http://elisabethnicula.com">elisabethnicula.com</a>. It's fine. I make etchings, woodcuts, and paintings that reside in at least one public collection and many private ones. <em>Dig Boston</em> recently <a href="http://digboston.com/think/2013/03/black-ink-nave-gallery-annex/">featured</a> my bitty woodcut <em>Wish You Were Here</em>.</p>
		</div><!-- end .about-sect -->
		<div class="about-sect full-contact">
			<h3><a id="contact">Contact</a></h3>
			<p>Would you like me to make your illustration, website, logo, brand, or printed matter? Drop me a line at elisabeth@wingedanddangerous.com.</p>
			<p>Read my deep thoughts on <a href="http://twitter.com/wingeddangerous">twitter</a>.</p>
		</div><!-- end .about-sect full-contact -->
	</div><!-- end .about -->
	<footer><p>Copyright &copy; 2013 Elisabeth Nicula.<br />Design, imagery, and code by me.</p></footer>
</div><!-- end .about-container -->