<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Designer for web, print, and illustration, based in Somerville, Massachusetts.">

<link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/img/favicon.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png">
        
<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/winged.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Antic Slab|Vollkorn:400">