<ul>
<li><a href="{{ site.baseurl }}/projects/berklee-apps.html">BerkleeMobile</a></li>
<li><a href="{{ site.baseurl }}/projects/dolby.html">Sole Inhabitant</a></li>
<li><a href="{{ site.baseurl }}/projects/160-mass.html">160 Mass Ave.</a></li>
<li><a href="{{ site.baseurl }}/projects/berklee-icons.html">Berklee Iconography</a></li>
<li><a href="{{ site.baseurl }}/projects/map.html">Map of Boston</a></li>
<li><a href="{{ site.baseurl }}/projects/electric.html">Electric Industry Infographic</a></li>
</ul>