<nav>
	<ul>
		<li class="nav-left"><a href="{{ site.baseurl }}/index.html#illustration">Illustration</a></li>
		<li class="nav-left"><a href="{{ site.baseurl }}/index.html#web">Web &amp; Print</a></li>
		<li class="nav-logo"><a id="nav-logo" href="#top"><img src="{{ site.baseurl }}/img/winged-A.png" alt="winged icon" width="90" height="38" /></a></li>
		<li class="nav-right"><a href="{{ site.baseurl }}/index.html#contact">Contact</a></li>
		<li class="nav-right"><a href="{{ site.baseurl }}/index.html#about">About</a></li>
	</ul>
</nav>