<div class="nav-container">
	<nav>
		<ul>
			<li class="nav-left"><a href="{{ site.baseurl }}/index.html"><h1>Winged & Dangerous</h1></a></li>
			<li class="nav-right"><a href="#about">About &amp; Contact</a></li>
			<li class="nav-right"><a href="{{ site.baseurl }}/index.html#print">Print</a></li>
			<li class="nav-right"><a href="{{ site.baseurl }}/index.html#illustration">Illustration</a></li>
			<li class="nav-right"><a href="{{ site.baseurl }}/index.html#web">Web</a></li>
			<li class="nav-right"><a href="{{ site.baseurl }}/index.html#identity">Identity</a></li>
		</ul>
	</nav>
</div>